.slogan {
	background: url("../img/brand_int_bg.jpg") center;
	background-size: cover;
	margin-top: 38px;
}

.slogan_text h2 {
	margin: 170px 0;
	text-align: center;
	color: #fff;
	font-size: 48px;
	letter-spacing: 2px;
}
.slogan_text small {
	line-height: 70px;
	font-size: 30px;
}
.slogan_text span {
	font-family: Montserrat-Bold;
}


.design_portfolio img {
	max-width: 100%;
	margin-top: 60px;
}
.design_portfolio h6 {
	font-size: 18px;
	color: #575153;
	margin-top: 30px;
}
.design_portfolio small {
	font-size: 12px;
	color: #727272;
	font-weight: 900;
	line-height: 4;
}
.design_portfolio p {
	font-size: 13px;
	color: #b4b2b2;
	margin: 0;
	font-weight: 650;
}
.port_des_rightc {
	margin-top: 122px;
}
.design_portfolio p>a {
	text-decoration: none;
	color: #4bd8cd;
	transition: 0.25s ease;
}
.design_portfolio p>a:hover, .design_portfolio p>a:focus {
	color: #40b6ad;
}